<main>
    <div class="container mt-auto">
        <h3>Productos</h3>  
        <br>
        <div *ngFor="let alimentacion of alimentaciones" id="alimentaciones">
            <app-alimentacion-item
                [alimentacion]="alimentacion"
                (alimentacionEliminar)="onAlimentacionEliminar($event)"
                (alimentacionEditar)="onAlimentacionEditar($event)">
            </app-alimentacion-item>
  
  
        </div>
  
        <div *ngFor="let menaje of menajes" id="menajes">
            <app-menaje-item
                [menaje]="menaje"
                (menajeEliminar)="onMenajeEliminar($event)"
                (menajeEditar)="onMenajeEditar($event)">
            </app-menaje-item>
  
        </div>
  
    </div>
  
  </main>
  