<main>
    <br><br><br><br><br><br><br><br>
    <section *ngIf="[alimentacion]">
      <div class="form-row py-2">
        <label>Descripcion<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" [(ngModel)]="alimentacion.descripcion" placeholder="Por ejemplo, tomate" name="prod"
          required />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">Ok</div>
      </div>
      <!-- <div class="form-row py-2">
        <label>Modelo<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" [(ngModel)]="alimentacion.modelo" placeholder="P. e., SartmWash" name="prod2"
          required #prod2="ngModel" [ngClass]="{
          'is-invalid': prod2.invalid && (prod2.dirty || prod2.touched),
          'is-valid': !prod2.invalid
        }" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">ok</div>
      </div> -->
      <div class="form-row py-2">
        <label>Tipo de alimento<sup class="text-danger">*</sup></label>
        <select [(ngModel)]="alimentacion.refrigerable" (change)="capturar()" [ngModelOptions]="{standalone: true}">
          <option value="0">Selecciona una opción</option>
          <option *ngFor="let dato of datos">
            {{dato}}
          </option>
        </select>
      </div>
      <!-- <div class="form-row py-2">
        <label>Capacidad de carga<sup class="text-danger">*</sup></label>
        <input type="number" class="form-control" [(ngModel)]="alimentacion.capacidadCarga" placeholder="P.e., 6 kg"
          name="prod23" required min="1" max="1" #prod23="ngModel" [ngClass]="{
          'is-invalid': prod23.invalid && (prod23.dirty || prod23.touched),
          'is-valid': ! prod23.invalid
        }" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">Ok</div>
      </div> -->
  
      <div class="form-row py-2">
        <label>Precio<sup class="text-danger">*</sup></label>
        <input type="number" class="form-control" [(ngModel)]="alimentacion.precio" placeholder="" name="precio" required
          min="1" max="99999" #prod21="ngModel" [ngClass]="{
              'is-invalid': prod21.invalid && (prod21.dirty || prod21.touched),
              'is-valid': ! prod21.invalid
            }" /><span class="input-group-text">€</span>
        <div class="text-danger" *ngIf="prod21.invalid && (prod21.dirty || prod21.touched)">
          <div *ngIf="prod21.errors?.['min']"> El precio no puede ser negativo</div>
        </div>
        <div class="valid-feedback">Ok</div>
      </div>
      <div class="row justify-content-center">
  
        <div class="col-2">
          <button id="guardar" type="submit" class="btn btn-primary" (click)="onModificarAlimentacion()"
            routerLink="/catalogos">Guardar</button>
        </div>
  
        <div class="col-2">
          <a routerLink="/"><button id="cancelar" type="button" class="btn btn-danger">Cancelar</button></a>
        </div>
  
      </div>
      <br>
      <pre></pre>
    </section>
    <br><br><br><br><br>
  </main>
  