/*El container hijo directo del main tiene una altura de 100px, para no superponerse al encabezado fixed al reducir pantalla */
main > .container {
    padding-top: 150px;
  }
  
  /* los h1 descendientes de main tienen los siguientes margenes superior e inferior de 30px,
    utilizan el estilo de fuente importado de google y un tamaño de 64px */
   h1 {
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 64px;
    color:rgb(0, 0, 0);
  
  }
  
  /* los h2 descendientes de main tienen los siguientes margenes superior e inferior de 30px,
    utilizan el estilo de fuente importado de google y un tamaño de 48px */
  main h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    color:rgb(16, 16, 15);
  }
  
  /* los p descendientes utilizan el estilo de fuente importado de google y un tamaño de 24px */
  main p {
    font-size: 24px;
  
  }
  
  #guardarAlimentacion{
      background-color: yellow;
      font-size: medium;
      color: black;
      font-weight: 400;
    }
  
  #guardarMenaje{
    background-color: yellow;
      font-size: medium;
      color: black;
      font-weight: 400;

  }
  #cancelar {
    background-color: black;
      font-size: medium;
      color: yellow;
      font-weight: 400;
  }
  
  #tipoproducto{
    margin-right: 50%;
    color:rgb(23, 23, 23);
  }
  label{
    color:rgb(24, 24, 23);
  }

  h2{
      background-color: yellow;
      font-size: small;
      color: black;
      font-weight: 400;
    }
  