<!-- <main>
  <div class="container-mt-auto">

  <div class="row mb-2 justify-content-center">
    <hr class='w-100'>
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <li class="list-goup.item">
      Menaje&nbsp;&nbsp;{{menaje.marca}}, {{menaje.modelo}}, {{menaje.calificacionEnergetica}}, {{menaje.numeroPulgadas}}",
      {{menaje.precio}} € &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a>

        <fa-icon [icon]="trash" class="fa-2x" (click)="Menaje()"></fa-icon>
        &nbsp; &nbsp; &nbsp; &nbsp;
      </a>
      <a>
        <fa-icon [icon]="pencil" class="fa-2x" (click)="modificarMenaje()"></fa-icon>&nbsp;
      </a>
        </li>
    </div>

  </div>
  </div>
</main> -->

<main>
    <div class="container mt-auto">
    <div class="row mb-2 justify-content-center">
      <hr class="w-100">
      <div class="col-sm-5">
        <li class="list-group-item">
        Menaje: &nbsp;&nbsp;{{menaje.descripcion}}, {{menaje.reciclable}}, {{menaje.precio}} €
          <!--
            Menaje &nbsp;&nbsp;  {{menaje.descripcion}}, {{menaje.modelo}}, {{menaje.calificacionEnergetica|uppercase}}, {{menaje.numeroPulgadas}}",
          {{menaje.precio}} €
            <a>
            <fa-icon [icon]="trash" class="fa-2x" (click)="borrarMenaje()"></fa-icon>
            &nbsp;
          </a>
          <a>
           <fa-icon [icon]="pencil"class="fa-2x" (click)="modificarMenaje()"></fa-icon>&nbsp;
          </a> -->
        </li>
      </div>
      <div class="box">
      <div class="col-sm-12">
        <a>
          <fa-icon [icon]="reciclar" class="fa-2x" style="color: green;" (click)="modificarMenaje()"></fa-icon>&nbsp;
         </a>
       <a>
          <fa-icon [icon]="trash" class="fa-2x" (click)="borrarMenaje()"></fa-icon>
          &nbsp;
        </a>
        <a>
         <fa-icon [icon]="pencil" class="fa-2x" (click)="modificarMenaje()"></fa-icon>&nbsp;
        </a>
      </div>
      </div>
    </div>
    </div>
    </main>
