<div class="container-fluid">
  <main>
    <div class="container mt-auto" id="contenedor">
      <div class="row justify-content-center">
      <div class="col-9">
        <a>
          <li
            class="list-group-item"
            (click)="editar()"
            routerLink="consultar()"
            >
            {{ catalogo.descripcion }}
          </li>
        </a>
      </div>
      <div class="col-3">
        <a>
          <fa-icon [icon]="pencil" class="fa-xs" (click)="editar()"></fa-icon
          >&nbsp;<span></span>
          &nbsp;
        </a>
        <a>
          <fa-icon [icon]="trash" class="fa-xs" (click)="eliminar()"></fa-icon
          >&nbsp;<span></span>
          &nbsp;
        </a>
      </div>
    </div>
  </div>
</main>
</div>
<!-- <main>
  <div class="container mt-auto">
    
    <div class="row justify-content-center">
       <div class="col-5">
         <a>
           <li class="list-group-item" (click)="editar()">{{ catalogo.descripcion|uppercase}}</li>
          </a>
        </div>

        <div class="col-1">
      </div>
    </div>

  </div>
</main> -->
