<main>
    <div class="container mt-auto">

      <h3 id=anadirproducto>Productos</h3>

      <div *ngFor="let alimento of alimentos">
        <app-alimentacion-consulta [alimentacion]="alimento"
        (alimentacionConsultar)="onAlimentacionConsultar($event)">
        </app-alimentacion-consulta>

        <pre>{{alimento| json }}</pre>

      </div>

      <div *ngFor="let menaje of menajes">
        <app-menaje-consulta [menaje]="menaje"
        (menajeConsultar)="onMenajeConsultar($event)">
        </app-menaje-consulta>

        <pre>{{ menaje | json }}</pre>

      </div>
    </div>
  </main>
