<!-- <body class="d-flex flex-column min-vh-100">
    <main>
      <div class="container mt-auto" id="catalogoForm">
  
        <h2>NUEVO CATÁLOGO</h2>
  
        <div class="row justify-content-center">
          <div class="col-8">
            <form #catalogoForm="ngForm" id="etiquetadescripcion">
              <div class="form-row py-2">
                <div class="col-lg-4 col-md-12" id="etiquetaDescripcion">
                  <label>DESCRIPCION:<sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" [(ngModel)]="catalogo.descripcion" placeholder="Descripcion Catalogo"
                    name="alm" required minlength="3" maxlenght="45"  #alm="ngModel" [ngClass]="{
                   'is-invalid': alm.invalid && (alm.dirty || alm.touched),
                    'is-valid': !alm.invalid}" />
                  <div class="text-danger" *ngIf="alm.invalid && (alm.dirty || alm.touched)">
                    <div *ngIf="alm.errors?.['required']">
                      Descripcion obligatoria
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row justify-content-between pt-5">
                <div class="col-lg-5 col-md-12">
                  <button id="botonCrear" class="btn btn-primary" role="button" (click)="create()" routerLink='/catalogos'
                    [disabled]="!catalogoForm.form.valid">
                    Crear Catálogo
                  </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button id="botonCancelar" class="btn btn-danger" role="button" routerLink="/catalogos"
                    routerLinkActive="router-link-active">
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br><br><br><br><br><br><br><br><br><br><br>
    </main>
  </body>
   -->

   <!-- MANDA A ASOCIACION.COMPONENT.HTML -->
<form #asociacionForm="ngForm">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <section>
        <div class="form-row py-2">
          <label>Nombre del catálogo<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="catalogo.descripcion" placeholder="Por ejemplo Catálogo de refrigerados" name="neg"
            required minlength="5" maxlength="25"/>
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">Ok!</div>
        </div>
      </section>
    </div>
    <div class="form-row justify-content-between pt-5">
      <button class="btn btn-primary" style="background-color: black" role="button" (click)="create()" routerLink='/catalogos' [disabled]="!asociacionForm.valid">
        Crear Catalogo
      </button>
    </div>
  </div>
</form>
