<div class="container mt-auto" id="contenedor">
  <div class="row justify-content-center">
    <div class="row"center>
      <h2>CATALOGOS</h2>
    </div>
    <br>
    <br>
<div class="container-fluid min-vh-100" id="general">
  <div *ngFor="let catalogo of catalogos" id="cadaCatalogo">
    <app-catalogo-item
    [catalogo]="catalogo"
    (catalogoEditar)="onCatalogoEditar($event)"
    (catalogoEliminar)="onCatalogoEliminar($event)"
    (catalogoConsultar)="onCatalogoConsultar($event)">
    </app-catalogo-item>
  </div>
  <br>
  <br>
  <div class="container mt-auto" id="contenedor">
    <div class="row justify-content-center">
      <i class="fa fa-align-center" aria-hidden="true">
        <a routerLink="/catalogos/formulario-catalogo"
        ><button id="añadir" type="button">
          Añadir Catalogo
        </button></a
        ></i>
      </div>
    </div>
  </div>
