.titulo{
    font: 2em sans-serif;
    color: white;
    text-align: left;
    

}


.navbar {
    width: 100%;
    display: inline;
    text-align: center;
    margin-top: 0px;
    top: 0;
    position:relative;
    display:block;
}